.error-container {
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 1rem;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .error-container p {
    color: rgb(117, 7, 7);
  }